@model StatsWizard.Models.StandingsModel // Adjust if necessary
@{
    ViewData["Title"] = "NFL Home";
}

<div>
    <h1>NFL Home</h1>
    <p>Welcome to the NFL home page. Here you can find NFL-related content.</p>

    <p>
        <a asp-area="" asp-controller="NBA" asp-action="Standings">News</a> |
        <a asp-area="" asp-controller="NBA" asp-action="Standings">Standings</a> |
        <a asp-area="" asp-controller="NBA" asp-action="Standings">League Leaders</a>
    </p>


</div>
